$hat_size: 42px;

.santas-hat {
  position: absolute;
  left: 13px;
  top: -6px;
  z-index: 10;
  width: $hat_size;
  height: $hat_size;
  transform: rotate(-20deg);
  background: asset-url("santas-hat.png") no-repeat transparent center center;
  background-size: $hat_size $hat_size;
}


#header_container {
  position: relative;
  overflow: hidden;
}
#header, #nav {
  position: relative;
  z-index: 10;
}
canvas {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
